html{
  font-family: 'Oswald', sans-serif;

}

.hero{
  background-image: url(../img/bg-resumen.jpg);
  height: 100vh;
  background-position: top center;
  background-size: cover;
}
.contenido-header{
  padding-top: 40px;
}
.redes-sociales{
  text-align: center;
}
.redes-sociales a{
  color: #ffffff;
  font-size: 1.5em;
  margin-right: 20px;
}
.informacion{
  text-align: center;
  color: #ffffff;
  margin: 0;
  font-size: 25px;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
}
.empresa{
  font-size: .75em;

}

div.input{
  padding-top: 20px;
  padding-bottom: 20px;
 background: rgba(130,130,130,.5);    /*opacity: inherit;
  */
}
div.input:hover{
  background-color: right: ;
}
div.login{

/*opacity: unset;*/
/*opacity: initial;*/
  height: 25vh;
  display: block;
}
div.datainput{
  padding-top: 20px;
  padding-bottom: 20px;
}
